
#header{

  background-image: url('../images/a.jpg');
  background-size: cover;
  border-top: 5px solid   rgb(25, 102, 150);
  height: 33%;
}
#logo b{
  font-size: 64px;
}
#header_wrapper{
  background-size: cover;
  padding: 35px;
  padding-top: 42px;
  height: 33%;
  
  background-color: rgba(0, 0, 0, 0.4); 

}
body{
  font-family: "brandon-grotesque", "Open Sans", "Segoe UI Light", Arial, Helvetica, sans-serif;
  
  color: white;
   
}

#main-nav{
  font-size: 20px;
  color: white;
  
  font-weight: normal;

  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
#main-nav ul li{
 
  list-style: none;
  display: inline;
  color: white;
}

.a:hover{
  background-color: rgb(37, 151, 221);
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;

}
#main-nav ul{
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  padding-left: 46%;
  padding-top: 35px;
}
#main-nav ul li a{
  padding: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  border-radius: 2px;
  text-decoration: none;
}


#main-nav ul li ul{
  display: none;


  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  background-color:  rgb(72, 1, 102);
  position: absolute;
  
  
  border-radius: 5px;
  margin-top: 7px;

}

#main-nav ul li ul li{ 
  padding: 10px;
  min-width: 160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 1px;
  background-color: rgb(55, 115, 153)  ;


  display: block;
}
#main-nav ul li ul li:hover{
  background-color: rgb(37, 151, 221) ;

  transition-duration: 1s;
 -webkit-transition-duration: 1s;
}
   


#logo{
  transition-duration: 1s;
 -webkit-transition-duration: 1s;
  font-size: 27px;
  float: left;
  text-align: center;
  color: white;
  list-style: none;
  text-decoration: none;
}
#logo:hover{
  color:  rgb(25, 102, 150);
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

*{
  margin: 0 auto;
}
#top-links{
  top: 0;
  right: 0;


}
#top-links ul{
  list-style: none;
  display: inline;
  color: white;
  width: 85px;
  top: 10px;
  right: 33px;
  position: absolute;
}
#top-links ul li a{
  text-decoration: none;
  background-color: rgb(37, 151, 221);
  border-radius: 3px;
  color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-bottom: 10px;
  padding-left: 37px;
  padding-right: 25px;
  padding-top: 10px;
}
#top-links ul li a:hover{
 background-color: rgb(46, 160, 232);
}
#main-nav ul li:hover ul{
  display: block;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-left: 0;
  padding-top: 0;


}
#main-nav ul li ul li::first-child{
  margin-top: 0;
}
#main-message{
  color: white;
  font-weight: bold;
  font-size: 200%;
  margin-top: 100px;
  line-height: 42px;
  text-align: center;
}
.handle{
    display: none;
  }
.danger-button{
  background-color: #c0392b;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  margin-left: 33%;
  padding: 15px;
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  border-radius: 3px;
  color: white;
}
#id{
  margin-top: 35px;
}
.danger-button:hover{
  background-color: rgb(223, 72, 56);
  border-radius: 20px;
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  cursor: pointer;
}

.navbar-fixed{
  font-size: 22px;
  background-color: #2C3E50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 0%;
  transition-property: all;
  transition-duration: 2s;
  -webkit-transition-duration: 2s;
}
.navbar-fixed #logo{
  left: 0;
  padding-top: 20px;
  font-size: 18px;

  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  padding-left: 30px;
}
.navbar-fixed  #logo b{
  font-size: 25px;

  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.navbar-fixed #navul{

  transition-duration: 1s;
  -webkit-transition-duration: s;
  padding-left: 46%;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 520px){
  #main-nav ul li{
    width: 60%;
    display: block;
    transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
 
    

  }  
  #main-nav{
    top: 0;
    height: 0;
    width: 80%;
    margin-left: 0;
    position: fixed;
    margin-top: 33px;
    font-size: 10px;

    overflow: hidden;
  }
  #logo{
    cursor: pointer;
    width: 100%;
    text-align: left;
    content: "_=";
    align-content: right;


  }

  #logo a{
    padding: 0;
  }

  #main-message{
    font-size: 100%;
    transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
 
  }
  #main-nav #logo{
    display: none;
  }
 
  

  .danger-button{
    font-size: 20%;
    margin-left: 31%;
    transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
 
  }
  #main-nav a:hover{
    background-color: inherit;
   

  }
#main-nav ul{
  padding-top: 0;
}
  #main-nav ul li ul{
    margin-left: 70px;
    display: none;
    padding-top: 0;
  }

  #main-nav a{
    padding: 0;
  }
  .handle{
    background-color: #2C3E50;
    position: fixed;
    width: 100%;
    float: left;

    display: block;
    top: 0;
    font-size: 12px;
    left: 0;


  }
  .handle #logo{
    padding-top: 3px;
    padding-left: 3px;
    font-size: 12px;
  }
  .handle #menu{
    float: right;
    padding: 3px;
    margin-top: 0;
    cursor: pointer;
    padding-top: 0;
  }
  .handle #logo b{
    font-size: 15px;
  }
  #main-nav  ul li ul{
    width: 60%;
  }
  #main-nav ul {
    background-color:  #2C3E50;
    width: 100%;
    left: 0;
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;

    transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  }

  #main-nav ul li{
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

  }
  
  
  .showing{
    height: 400px;

    overflow: visible;
  }

  #navul li:hover{
    background-color: #2C4E50;
    transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  }
}
